GEMINI_API_KEY=AIzaSyBid3vqBolLlaZ5d4SFyx2WLjgdCrZrzbM
OPENWEATHER_API_KEY=76b83039a793a91de940aedef95a4e79
GITHUB_TOKEN=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
